%table#services-table
  %thead
    %tr
      %th.thsort{:scope => "col"} Name
      %th.thsort{:scope => "col"} Service
      %th.thsort{:scope => "col"} Version
      %th.thsort{:scope => "col"} Binded Apps
      %th.thsort{:scope => "col"} Created at
      %th.thsort{:scope => "col"} Updated at
      %th.thcenter{:scope => "col", :width => "10%"} Actions
  %tbody
    = render :partial => "service_item", :collection => @services

= render "service_new"