%table#app-urls-table
  %thead
    %tr
      %th.thsort{:scope => "col"}=t('apps.urls.url_head')
      %th.thcenter{:scope => "col", :width => "10%"}=t('apps.urls.actions_head')
  %tbody
    = render :partial => "apps/urls/app_url_item", :collection => @app[:uris]

= render "apps/urls/app_url_new"