%table#app-urls-table
  %thead
    %tr
      %th.thsort{:scope => "col"} Application URL
      %th.thcenter{:scope => "col", :width => "10%"} Actions
  %tbody
    = render :partial => "apps/urls/app_url_item", :collection => @app[:uris]

= render "apps/urls/app_url_new"