---
http_interactions:
- request:
    method: get
    uri: http://api.vcap.me:80/apps/newapp
    body: ''
    headers:
      Authorization:
      - 04085b084922117573657240766361702e6d65063a0645546c2b07aa25e94e22193357f6e166053ef17797b5879877f6ca4542382f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"bd8907aa153e95592880d37aed2ce30b"'
    body: ! '{"name":"newapp","staging":{"model":"node","stack":"node"},"uris":["newapp.vcap.me"],"instances":5,"runningInstances":0,"resources":{"memory":128,"disk":2048,"fds":256},"state":"STOPPED","services":[],"version":"f75052f3a846166c8f329d6891fa7bb8-0","env":["var-mock=value-mock"],"meta":{"debug":null,"version":4,"created":1323297583}}'
  recorded_at: Wed, 07 Dec 2011 22:39:45 GMT
[...]
- request:
    method: get
    uri: http://api.vcap.me:80/apps/newapp
    body: ''
    headers:
      Authorization:
      - 04085b084922117573657240766361702e6d65063a0645546c2b07aa25e94e22193357f6e166053ef17797b5879877f6ca4542382f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"533e5c1b90c57443898a5dcdb0e3990a"'
    body: ! '{"name":"newapp","staging":{"model":"node","stack":"node"},"uris":["newapp.vcap.me"],"instances":5,"runningInstances":0,"resources":{"memory":128,"disk":2048,"fds":256},"state":"STOPPED","services":[],"version":"1e0e0890ce807deffeb8d8ceca8795b2-0","env":["var-mock=value-mock-2"],"meta":{"debug":null,"version":5,"created":1323297583}}'
  recorded_at: Wed, 07 Dec 2011 22:39:45 GMT
recorded_with: VCR 2.0.0.beta2
