---
http_interactions:
- request:
    method: get
    uri: http://api.vcap.me:80/apps/newapp
    body: ''
    headers:
      Authorization:
      - 04085b084922117573657240766361702e6d65063a0645546c2b07aa25e94e22193357f6e166053ef17797b5879877f6ca4542382f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"baf2e280e76d4186de148b070e82f1ba"'
    body: ! '{"name":"newapp","staging":{"model":"node","stack":"node"},"uris":["newapp.vcap.me"],"instances":5,"runningInstances":0,"resources":{"memory":128,"disk":2048,"fds":256},"state":"STOPPED","services":[],"version":"997931bfc8e276ed8b3b9c873d3fc6b4-0","env":[],"meta":{"debug":null,"version":3,"created":1323297582}}'
  recorded_at: Wed, 07 Dec 2011 22:39:45 GMT
[...]
- request:
    method: get
    uri: http://api.vcap.me:80/apps/newapp
    body: ''
    headers:
      Authorization:
      - 04085b084922117573657240766361702e6d65063a0645546c2b07aa25e94e22193357f6e166053ef17797b5879877f6ca4542382f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"5155a259c1c866e6aa872b63f5772a7b"'
    body: ! '{"name":"newapp","staging":{"model":"node","stack":"node"},"uris":["newapp.vcap.me"],"instances":5,"runningInstances":0,"resources":{"memory":128,"disk":2048,"fds":256},"state":"STOPPED","services":[],"version":"71fc65f40b908202f81c0e826e9447a4-0","env":["var-mock=value-mock"],"meta":{"debug":null,"version":4,"created":1323297583}}'
  recorded_at: Wed, 07 Dec 2011 22:39:45 GMT
recorded_with: VCR 2.0.0.beta2
