--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.vcap.me/resources
    body: 
      encoding: US-ASCII
      string: "[{\"fn\":\"/Users/frodenas/Rails/cf-console/tmp/app-bits/fakeapp/.gitignore\",\"zn\":\".gitignore\",\"size\":89,\"sha1\":\"3ea67d7f82ab5276f2aa0d1484bde427ff04ad3e\"},{\"fn\":\"/Users/frodenas/Rails/cf-console/tmp/app-bits/fakeapp/.rspec\",\"zn\":\".rspec\",\"size\":25,\"sha1\":\"4b1dbd26fb9f3811391de2e80891e2ce6efd68bc\"},{\"fn\":\"/Users/frodenas/Rails/cf-console/tmp/app-bits/fakeapp/.travis.yml\",\"zn\":\".travis.yml\",\"size\":56,\"sha1\":\"071c7d2fadf0eaa003d4847a9bb8f43873631fc8\"},{\"fn\":\"/Users/frodenas/Rails/cf-console/tmp/app-bits/fakeapp/.yardopts\",\"zn\":\".yardopts\",\"size\":182,\"sha1\":\"c93cbca[...]
