--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.vcap.me/info/services
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b07c547554f22195ac7b777ec1ed86057ee09ec9a97e38e61ce119b
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"c53736fe07a3f48b7e0f08c13d0649bd\""
    body: 
      encoding: US-ASCII
      string: "{\"key-value\":{\"redis\":{\"2.2\":{\"id\":1,\"vendor\":\"redis\",\"version\":\"2.2\",\"tiers\":{\"free\":{\"options\":{},\"order\":1}},\"type\":\"key-value\",\"description\":\"Redis key-value store service\"}},\"mongodb\":{\"1.8\":{\"id\":3,\"vendor\":\"mongodb\",\"version\":\"1.8\",\"tiers\":{\"free\":{\"options\":{},\"order\":1}},\"type\":\"key-value\",\"description\":\"MongoDB NoSQL store\"}}},\"database\":{\"mysql\":{\"5.1\":{\"id\":2,\"vendor\":\"mysql\",\"version\":\"5.1\",\"tiers\":{\"free\":{\"options\":{},\"order\":1}},\"type\":\"database\",\"description\":\"MySQL database service\"}}},\"generic\":{\"neo4j\":{\"1.4\":{\"id\":4,\"vendor\":\"neo4j\",\"version\":\"1.4\",\"tiers\":{\"free\":{\"options\":{},\"order\":1}},\"type\":\"generic\",\"description\":\"Neo4j NOSQL store\"}}}}"
  recorded_at: Mon, 27 Feb 2012 23:10:09 GMT
- request: 
    method: post
    uri: http://api.vcap.me/services
    body: 
      encoding: US-ASCII
      string: "{\"type\":\"key-value\",\"vendor\":\"redis\",\"version\":\"2.2\",\"tier\":\"free\",\"name\":\"fakeservice\"}"
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b07c547554f22195ac7b777ec1ed86057ee09ec9a97e38e61ce119b
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"99914b932bd37a50b983c5e7c90ae93b\""
    body: 
      encoding: US-ASCII
      string: "{}"
  recorded_at: Mon, 27 Feb 2012 23:10:10 GMT
- request: 
    method: get
    uri: http://api.vcap.me/apps/fakeapp
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b07c547554f22195ac7b777ec1ed86057ee09ec9a97e38e61ce119b
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"a0cc585c63bf22e16c17597995499404\""
    body: 
      encoding: US-ASCII
      string: "{\"name\":\"fakeapp\",\"staging\":{\"model\":\"sinatra\",\"stack\":\"ruby18\"},\"uris\":[\"fakeapp.vcap.me\"],\"instances\":5,\"runningInstances\":5,\"resources\":{\"memory\":128,\"disk\":2048,\"fds\":256},\"state\":\"STARTED\",\"services\":[],\"version\":\"3c42f840a4777613b1d75b59de9baca4073fd858-4\",\"env\":[\"fakevar=fakevalue2\"],\"meta\":{\"debug\":null,\"version\":12,\"created\":1330384211}}"
  recorded_at: Mon, 27 Feb 2012 23:10:10 GMT
[...]
- request: 
    method: get
    uri: http://api.vcap.me/apps/fakeapp
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b07c547554f22195ac7b777ec1ed86057ee09ec9a97e38e61ce119b
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"2e8d4c6ed89247fb83adf79620cb1b3f\""
    body: 
      encoding: US-ASCII
      string: "{\"name\":\"fakeapp\",\"staging\":{\"model\":\"sinatra\",\"stack\":\"ruby18\"},\"uris\":[\"fakeapp.vcap.me\"],\"instances\":5,\"runningInstances\":5,\"resources\":{\"memory\":128,\"disk\":2048,\"fds\":256},\"state\":\"STARTED\",\"services\":[\"fakeservice\"],\"version\":\"36024617e2f7c8e016dce6b92df741b75e2d7c3a-1\",\"env\":[\"fakevar=fakevalue2\"],\"meta\":{\"debug\":null,\"version\":15,\"created\":1330384215}}"
  recorded_at: Mon, 27 Feb 2012 23:10:14 GMT
recorded_with: VCR 2.0.0.rc2
