--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.vcap.me/apps/fakeapp
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b07c547554f22195ac7b777ec1ed86057ee09ec9a97e38e61ce119b
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"813a3991a28a181c8b069037174bc4aa\""
    body: 
      encoding: US-ASCII
      string: "{\"name\":\"fakeapp\",\"staging\":{\"model\":\"sinatra\",\"stack\":\"ruby18\"},\"uris\":[\"fakeapp.vcap.me\"],\"instances\":5,\"runningInstances\":0,\"resources\":{\"memory\":128,\"disk\":2048,\"fds\":256},\"state\":\"STOPPED\",\"services\":[],\"version\":\"3f198448e34e5af69afd8c428c6e78230765b31b-2\",\"env\":[],\"meta\":{\"debug\":null,\"version\":27,\"created\":1330384231}}"
  recorded_at: Mon, 27 Feb 2012 23:10:30 GMT
[...]
- request: 
    method: get
    uri: http://api.vcap.me/apps/fakeapp/crashes
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b07c547554f22195ac7b777ec1ed86057ee09ec9a97e38e61ce119b
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"f5a77e0363e728e420bff47d89f84f44\""
    body: 
      encoding: US-ASCII
      string: "{\"crashes\":[{\"instance\":\"49fb6ef762afa25982898716aa33ee86\",\"since\":1330384233},{\"instance\":\"43056d5b6cdd75f476b36648629d0faa\",\"since\":1330384233},{\"instance\":\"182e1946ffb38f26a668103c09398220\",\"since\":1330384233},{\"instance\":\"f0fa04bdbba20e8e443fa3244e739f56\",\"since\":1330384233},{\"instance\":\"bb7aa35b7c32e2ed8c303923af7c1a87\",\"since\":1330384233},{\"instance\":\"dded94df170335bcc639e98fa4deddc8\",\"since\":1330384233},{\"instance\":\"a71a7d3a701db20bb711ebc4961874be\",\"since\":1330384233},{\"instance\":\"e89bbcb28f26db6ff0ddf8c9e8ece0a1\",\"since\":1330384233},{\"instance\":\"cecd4f9f0e3dae7704d53a611e3d8ed7\",\"since\":1330384233},{\"instance\":\"5275b8310e6653005cbc650f4eec2ad7\",\"since\":1330384233}]}"
  recorded_at: Mon, 27 Feb 2012 23:10:32 GMT
[...]
