--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.vcap.me/apps/fakeapp
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b07c547554f22195ac7b777ec1ed86057ee09ec9a97e38e61ce119b
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"2e8d4c6ed89247fb83adf79620cb1b3f\""
    body: 
      encoding: US-ASCII
      string: "{\"name\":\"fakeapp\",\"staging\":{\"model\":\"sinatra\",\"stack\":\"ruby18\"},\"uris\":[\"fakeapp.vcap.me\"],\"instances\":5,\"runningInstances\":5,\"resources\":{\"memory\":128,\"disk\":2048,\"fds\":256},\"state\":\"STARTED\",\"services\":[\"fakeservice\"],\"version\":\"36024617e2f7c8e016dce6b92df741b75e2d7c3a-1\",\"env\":[\"fakevar=fakevalue2\"],\"meta\":{\"debug\":null,\"version\":15,\"created\":1330384215}}"
  recorded_at: Mon, 27 Feb 2012 23:10:14 GMT
recorded_with: VCR 2.0.0.rc2
