---
http_interactions:
- request:
    method: get
    uri: http://api.vcap.me:80/apps/newapp
    body: ''
    headers:
      Authorization:
      - 04085b084922117573657240766361702e6d65063a0645546c2b07aa25e94e22193357f6e166053ef17797b5879877f6ca4542382f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"7fc0c0e8c9ebf7512d2bab5459b2b801"'
    body: ! '{"name":"newapp","staging":{"model":"node","stack":"node"},"uris":["newapp.vcap.me"],"instances":5,"runningInstances":0,"resources":{"memory":128,"disk":2048,"fds":256},"state":"STOPPED","services":[],"version":"9a97f0d59b20cd1d723a18f8066216d4-0","env":["var-mock=value-mock-2"],"meta":{"debug":null,"version":5,"created":1323297583}}'
  recorded_at: Wed, 07 Dec 2011 22:39:45 GMT
[...]
- request:
    method: get
    uri: http://api.vcap.me:80/apps/newapp
    body: ''
    headers:
      Authorization:
      - 04085b084922117573657240766361702e6d65063a0645546c2b07aa25e94e22193357f6e166053ef17797b5879877f6ca4542382f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ae72058686709e328f400788f18d8fdc"'
    body: ! '{"name":"newapp","staging":{"model":"node","stack":"node"},"uris":["newapp.vcap.me"],"instances":5,"runningInstances":0,"resources":{"memory":128,"disk":2048,"fds":256},"state":"STOPPED","services":[],"version":"5328cef4971b78bf20cc4cf1d38c8229-0","env":[],"meta":{"debug":null,"version":6,"created":1323297584}}'
  recorded_at: Wed, 07 Dec 2011 22:39:46 GMT
recorded_with: VCR 2.0.0.beta2
