--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.vcap.me:80/apps/newapp
    body: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b07aa25e94e22193357f6e166053ef17797b5879877f6ca4542382f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"2e2f27050538d49f27b77b89849f230b\""
    body: "{\"name\":\"newapp\",\"staging\":{\"model\":\"node\",\"stack\":\"node\"},\"uris\":[\"newapp.vcap.me\"],\"instances\":1,\"runningInstances\":0,\"resources\":{\"memory\":64,\"disk\":2048,\"fds\":256},\"state\":\"STOPPED\",\"services\":[],\"version\":\"175bbee6ab1621a0e11a372b649aeeec-0\",\"env\":[],\"meta\":{\"debug\":null,\"version\":1,\"created\":1323645403}}"
  recorded_at: Sun, 11 Dec 2011 23:16:54 GMT
recorded_with: VCR 2.0.0.beta2
