---
http_interactions:
- request:
    method: get
    uri: http://api.vcap.me:80/apps/newapp
    body: ''
    headers:
      Authorization:
      - 04085b084922117573657240766361702e6d65063a0645546c2b07aa25e94e22193357f6e166053ef17797b5879877f6ca4542382f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"87c613294cf035c268da6fd3055f143f"'
    body: ! '{"name":"newapp","staging":{"model":"node","stack":"node"},"uris":["newapp.vcap.me"],"instances":5,"runningInstances":0,"resources":{"memory":64,"disk":2048,"fds":256},"state":"STOPPED","services":[],"version":"fdcbf356e5ed59382297094a419b06eb-0","env":[],"meta":{"debug":null,"version":2,"created":1323297582}}'
  recorded_at: Wed, 07 Dec 2011 22:39:44 GMT
- request:
    method: get
    uri: http://api.vcap.me:80/info
    body: ''
    headers:
      Authorization:
      - 04085b084922117573657240766361702e6d65063a0645546c2b07aa25e94e22193357f6e166053ef17797b5879877f6ca4542382f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"90ccd48beade59257c2aee914377c6eb"'
    body: ! '{"name":"vcap","build":2222,"support":"http://support.cloudfoundry.com","version":"0.999","description":"VMware''s
      Cloud Application Platform","allow_debug":true,"user":"user@vcap.me","limits":{"memory":2048,"app_uris":4,"services":16,"apps":20},"usage":{"memory":0,"apps":0,"services":0},"frameworks":{"grails":{"name":"grails","runtimes":[{"name":"java","version":"1.6","description":"Java
      6"}],"appservers":[{"name":"tomcat","description":"Tomcat"}],"detection":[{"*.war":true}]},"lift":{"name":"lift","runtimes":[{"name":"java","version":"1.6","description":"Java
      6"}],"appservers":[{"name":"tomcat","description":"Tomcat"}],"detection":[{"*.war":true}]},"php":{"name":"php","runtimes":[{"name":"php","version":"5.3","description":"PHP
      5"}],"appservers":[{"name":"apache","description":"Apache"}],"detection":[{"*.php":true}]},"spring":{"name":"spring","runtimes":[{"name":"java","version":"1.6","description":"Java
      6"}],"appservers":[{"name":"tomcat","description":"Tomcat"}],"detection":[{"*.war":true}]},"java_web":{"name":"java_web","runtimes":[{"name":"java","version":"1.6","description":"Java
      6"}],"appservers":[{"name":"tomcat","description":"Tomcat"}],"detection":[{"*.war":true}]},"django":{"name":"django","runtimes":[{"name":"python26","version":"2.6.5","description":"Python
      2.6.5"}],"appservers":[],"detection":[{"*.py":"."}]},"rails3":{"name":"rails3","runtimes":[{"name":"ruby18","version":"1.8.7","description":"Ruby
      1.8.7"},{"name":"ruby19","version":"1.9.2p180","description":"Ruby 1.9.2"}],"appservers":[{"name":"thin","description":"Thin"}],"detection":[{"config/application.rb":true},{"config/environment.rb":true}]},"node":{"name":"node","runtimes":[{"name":"node","version":"0.4.5","description":"Node.js"}],"appservers":[],"detection":[{"*.js":"."}]},"otp_rebar":{"name":"otp_rebar","runtimes":[{"name":"erlangR14B02","version":"R14B02","description":"Erlang
      R14B02"}],"appservers":[],"detection":[{"releases/*/*.rel":"."}]},"sinatra":{"name":"sinatra","runtimes":[{"name":"ruby18","version":"1.8.7","description":"Ruby
      1.8.7"},{"name":"ruby19","version":"1.9.2p180","description":"Ruby 1.9.2"}],"appservers":[{"name":"thin","description":"Thin"}],"detection":[{"*.rb":"require
      ''sinatra''|require \"sinatra\""},{"config/environment.rb":false}]},"wsgi":{"name":"wsgi","runtimes":[{"name":"python26","version":"2.6.5","description":"Python
      2.6.5"}],"appservers":[],"detection":[{"*.py":"."}]}}}'
  recorded_at: Wed, 07 Dec 2011 22:39:44 GMT
[...]
- request:
    method: get
    uri: http://api.vcap.me:80/apps/newapp
    body: ''
    headers:
      Authorization:
      - 04085b084922117573657240766361702e6d65063a0645546c2b07aa25e94e22193357f6e166053ef17797b5879877f6ca4542382f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1ad65382e88683e0d24cdb482072a793"'
    body: ! '{"name":"newapp","staging":{"model":"node","stack":"node"},"uris":["newapp.vcap.me"],"instances":5,"runningInstances":0,"resources":{"memory":128,"disk":2048,"fds":256},"state":"STOPPED","services":[],"version":"7b9c446021771ad16e9f9765419193c0-0","env":[],"meta":{"debug":null,"version":3,"created":1323297582}}'
  recorded_at: Wed, 07 Dec 2011 22:39:44 GMT
recorded_with: VCR 2.0.0.beta2
