---
http_interactions:
- request:
    method: get
    uri: http://api.vcap.me:80/apps/newapp
    body: ''
    headers:
      Authorization:
      - 04085b084922117573657240766361702e6d65063a0645546c2b07aa25e94e22193357f6e166053ef17797b5879877f6ca4542382f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"932115d4e07bc98388e78cd94cd9aec9"'
    body: ! '{"name":"newapp","staging":{"model":"node","stack":"node"},"uris":["newapp.vcap.me"],"instances":5,"runningInstances":0,"resources":{"memory":128,"disk":2048,"fds":256},"state":"STOPPED","services":[],"version":"4c03790ef6cb93b67f822581a459e8cc-0","env":[],"meta":{"debug":null,"version":9,"created":1323297587}}'
  recorded_at: Wed, 07 Dec 2011 22:39:50 GMT
- request:
    method: put
    uri: http://api.vcap.me:80/apps/newapp
    body: ! '{"name":"newapp","staging":{"model":"node","stack":"node"},"uris":["newapp.vcap.me","newapp2.vcap.me"],"instances":5,"runningInstances":0,"resources":{"memory":128,"disk":2048,"fds":256},"state":"STOPPED","services":[],"version":"4c03790ef6cb93b67f822581a459e8cc-0","env":[],"meta":{"debug":null,"version":9,"created":1323297587}}'
    headers:
      Authorization:
      - 04085b084922117573657240766361702e6d65063a0645546c2b07aa25e94e22193357f6e166053ef17797b5879877f6ca4542382f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! ' '
  recorded_at: Wed, 07 Dec 2011 22:39:50 GMT
recorded_with: VCR 2.0.0.beta2
