---
http_interactions:
- request:
    method: get
    uri: http://api.vcap.me:80/apps/newapp
    body: ''
    headers:
      Authorization:
      - 04085b084922117573657240766361702e6d65063a0645546c2b07aa25e94e22193357f6e166053ef17797b5879877f6ca4542382f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"3415d3bbb263d79aefa72c2f4226f1e6"'
    body: ! '{"name":"newapp","staging":{"model":"node","stack":"node"},"uris":["newapp.vcap.me"],"instances":5,"runningInstances":0,"resources":{"memory":128,"disk":2048,"fds":256},"state":"STOPPED","services":["redis-mock"],"version":"164fb1e53600c385cebc23c1e65028b3-0","env":[],"meta":{"debug":null,"version":7,"created":1323297586}}'
  recorded_at: Wed, 07 Dec 2011 22:39:48 GMT
recorded_with: VCR 2.0.0.beta2
