--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.vcap.me/info
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"cbc07ff8530919ca664fcfc8b21a398b\""
    body: 
      encoding: US-ASCII
      string: "{\"name\":\"vcap\",\"build\":2222,\"support\":\"http://support.cloudfoundry.com\",\"version\":\"0.999\",\"description\":\"VMware's Cloud Application Platform\",\"allow_debug\":true}"
  recorded_at: Mon, 27 Feb 2012 23:09:56 GMT
- request: 
    method: post
    uri: http://api.vcap.me/users/user@vcap.me/tokens
    body: 
      encoding: US-ASCII
      string: "{\"password\":\"foobar\"}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"a994b34e19d3221c3c6455beca42ff4d\""
    body: 
      encoding: US-ASCII
      string: "{\"token\":\"04085b084922117573657240766361702e6d65063a0645546c2b07c547554f22195ac7b777ec1ed86057ee09ec9a97e38e61ce119b\"}"
  recorded_at: Mon, 27 Feb 2012 23:09:56 GMT
recorded_with: VCR 2.0.0.rc2
