---
http_interactions:
- request:
    method: get
    uri: http://api.vcap.me:80/info/services
    body: ''
    headers:
      Authorization:
      - 04085b084922117573657240766361702e6d65063a0645546c2b07aa25e94e22193357f6e166053ef17797b5879877f6ca4542382f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c53736fe07a3f48b7e0f08c13d0649bd"'
    body: ! '{"key-value":{"redis":{"2.2":{"id":1,"vendor":"redis","version":"2.2","tiers":{"free":{"options":{},"order":1}},"type":"key-value","description":"Redis
      key-value store service"}},"mongodb":{"1.8":{"id":3,"vendor":"mongodb","version":"1.8","tiers":{"free":{"options":{},"order":1}},"type":"key-value","description":"MongoDB
      NoSQL store"}}},"database":{"mysql":{"5.1":{"id":2,"vendor":"mysql","version":"5.1","tiers":{"free":{"options":{},"order":1}},"type":"database","description":"MySQL
      database service"}}},"generic":{"neo4j":{"1.4":{"id":4,"vendor":"neo4j","version":"1.4","tiers":{"free":{"options":{},"order":1}},"type":"generic","description":"Neo4j
      NOSQL store"}}}}'
  recorded_at: Wed, 07 Dec 2011 22:39:52 GMT
- request:
    method: post
    uri: http://api.vcap.me:80/services
    body: ! '{"type":"key-value","vendor":"redis","version":"2.2","tier":"free","name":"redis-mock"}'
    headers:
      Authorization:
      - 04085b084922117573657240766361702e6d65063a0645546c2b07aa25e94e22193357f6e166053ef17797b5879877f6ca4542382f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"99914b932bd37a50b983c5e7c90ae93b"'
    body: ! '{}'
  recorded_at: Wed, 07 Dec 2011 22:39:53 GMT
recorded_with: VCR 2.0.0.beta2
