--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.vcap.me/info
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"cbc07ff8530919ca664fcfc8b21a398b\""
    body: 
      encoding: US-ASCII
      string: "{\"name\":\"vcap\",\"build\":2222,\"support\":\"http://support.cloudfoundry.com\",\"version\":\"0.999\",\"description\":\"VMware's Cloud Application Platform\",\"allow_debug\":true}"
  recorded_at: Mon, 27 Feb 2012 23:10:33 GMT
recorded_with: VCR 2.0.0.rc2
