---
http_interactions:
- request:
    method: get
    uri: http://api.vcap.me:80/info
    body: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"cbc07ff8530919ca664fcfc8b21a398b"'
    body: ! '{"name":"vcap","build":2222,"support":"http://support.cloudfoundry.com","version":"0.999","description":"VMware''s
      Cloud Application Platform","allow_debug":true}'
  recorded_at: Wed, 07 Dec 2011 22:39:54 GMT
- request:
    method: get
    uri: http://api.vcap.me:80/info/runtimes
    body: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"2f385a3c5eaf836cbbd0ca37c1c5c5a7"'
    body: ! '{"ruby18":{"version":"1.8.7"},"ruby19":{"version":"1.9.2"},"node":{"version":"0.4.[2-9]"},"java":{"version":"1.6.0","debug_modes":["run","suspend"]},"php":{"version":"5.3.[2-6]"},"erlangR14B02":{"version":".*
      5.8.3"},"python26":{"version":"2.6.5"}}'
  recorded_at: Wed, 07 Dec 2011 22:39:54 GMT
recorded_with: VCR 2.0.0.beta2
