%tr.oddeven{:id => "user-" + user_item[:email].hash.to_s}
  %td= user_item[:email]
  %td
    - if !user_item[:apps].nil?
      - user_item[:apps].each do |appname|
        = link_to appname[:name], app_info_url(appname[:name])
        %br/
  %td.tdcenter
    - if user_item[:admin]
      = sprite_tag("ok", :alt => t('users.admin'))
  %td.tdcenter= link_to sprite_tag("delete", :title => t('users.delete_user'), :class => "delete icon-tip"),
                user_delete_url(Base64.encode64(user_item[:email])), :id => "delete-user-link", :remote => true,
                :method => :delete, :data => { :confirm => t('users.delete_user_confirm') }

