---
http_interactions:
- request:
    method: get
    uri: http://api.vcap.me:80/info
    body: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"cbc07ff8530919ca664fcfc8b21a398b"'
    body: ! '{"name":"vcap","build":2222,"support":"http://support.cloudfoundry.com","version":"0.999","description":"VMware''s
      Cloud Application Platform","allow_debug":true}'
  recorded_at: Wed, 07 Dec 2011 22:39:28 GMT
- request:
    method: get
    uri: http://api.vcap.me:80/info
    body: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"cbc07ff8530919ca664fcfc8b21a398b"'
    body: ! '{"name":"vcap","build":2222,"support":"http://support.cloudfoundry.com","version":"0.999","description":"VMware''s
      Cloud Application Platform","allow_debug":true}'
  recorded_at: Wed, 07 Dec 2011 22:39:28 GMT
recorded_with: VCR 2.0.0.beta2
