--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.vcap.me/info
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"cbc07ff8530919ca664fcfc8b21a398b\""
    body: 
      encoding: US-ASCII
      string: "{\"name\":\"vcap\",\"build\":2222,\"support\":\"http://support.cloudfoundry.com\",\"version\":\"0.999\",\"description\":\"VMware's Cloud Application Platform\",\"allow_debug\":true}"
  recorded_at: Mon, 27 Feb 2012 23:56:43 GMT
- request: 
    method: post
    uri: http://api.vcap.me/users/user@vcap.me/tokens
    body: 
      encoding: US-ASCII
      string: "{\"password\":\"foobar\"}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"949d4cd1dfb05f53a9460bb536918fc7\""
    body: 
      encoding: US-ASCII
      string: "{\"token\":\"04085b084922117573657240766361702e6d65063a0645546c2b07bc52554f2219f08f615ee74e00c162b43bc3eabd0e85c772c6fe\"}"
  recorded_at: Mon, 27 Feb 2012 23:56:43 GMT
recorded_with: VCR 2.0.0.rc2
