%table#app-envvars-table
  %thead
    %tr
      %th.thsort{:scope => "col", :width => "45%"}=t('apps.envvars.name_head')
      %th.thsort{:scope => "col", :width => "45%"}=t('apps.envvars.value_head')
      %th.thcenter{:scope => "col", :width => "10%"}=t('apps.envvars.actions_head')
  %tbody
    = render :partial => "apps/envvars/app_envvar_item", :collection => @app[:env]

= render "apps/envvars/app_envvar_new"

- content_for :javascripts do
  :javascript
    $(function() {
      app_set_var_url = '#{app_set_var_url}.js';
    });