%tr.oddeven{:id => "app-" + @name + "-service-" + app_service_item[:name]}
  %td= app_service_item[:name]
  %td= find_vendor_image(app_service_item[:vendor]).html_safe
  %td= app_service_item[:version]
  %td.tdcenter= link_to sprite_tag("delete", :title => t('apps.services.delete_service'), :class => "delete icon-tip"),
                app_unbind_service_url(@name, :service => app_service_item[:name]), :id => "unbind-service-link",
                :remote => true, :method => :put, :data => { :confirm => t('apps.services.delete_service_confirm') }


