---
http_interactions:
- request:
    method: get
    uri: http://api.vcap.me:80/info
    body: ''
    headers:
      Authorization:
      - 04085b0849221261646d696e40766361702e6d65063a0645546c2b07b108e54e221912a91b37781faa5c88a9ffea3b0b6abd0c28983b
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"cd198bb1b4a5fcc7eb642fade6dd1eb4"'
    body: ! '{"name":"vcap","build":2222,"support":"http://support.cloudfoundry.com","version":"0.999","description":"VMware''s
      Cloud Application Platform","allow_debug":true,"user":"admin@vcap.me","limits":{"memory":32768,"app_uris":16,"services":32,"apps":200},"usage":{"memory":0,"apps":0,"services":0},"frameworks":{"grails":{"name":"grails","runtimes":[{"name":"java","version":"1.6","description":"Java
      6"}],"appservers":[{"name":"tomcat","description":"Tomcat"}],"detection":[{"*.war":true}]},"lift":{"name":"lift","runtimes":[{"name":"java","version":"1.6","description":"Java
      6"}],"appservers":[{"name":"tomcat","description":"Tomcat"}],"detection":[{"*.war":true}]},"php":{"name":"php","runtimes":[{"name":"php","version":"5.3","description":"PHP
      5"}],"appservers":[{"name":"apache","description":"Apache"}],"detection":[{"*.php":true}]},"spring":{"name":"spring","runtimes":[{"name":"java","version":"1.6","description":"Java
      6"}],"appservers":[{"name":"tomcat","description":"Tomcat"}],"detection":[{"*.war":true}]},"java_web":{"name":"java_web","runtimes":[{"name":"java","version":"1.6","description":"Java
      6"}],"appservers":[{"name":"tomcat","description":"Tomcat"}],"detection":[{"*.war":true}]},"django":{"name":"django","runtimes":[{"name":"python26","version":"2.6.5","description":"Python
      2.6.5"}],"appservers":[],"detection":[{"*.py":"."}]},"rails3":{"name":"rails3","runtimes":[{"name":"ruby18","version":"1.8.7","description":"Ruby
      1.8.7"},{"name":"ruby19","version":"1.9.2p180","description":"Ruby 1.9.2"}],"appservers":[{"name":"thin","description":"Thin"}],"detection":[{"config/application.rb":true},{"config/environment.rb":true}]},"node":{"name":"node","runtimes":[{"name":"node","version":"0.4.5","description":"Node.js"}],"appservers":[],"detection":[{"*.js":"."}]},"otp_rebar":{"name":"otp_rebar","runtimes":[{"name":"erlangR14B02","version":"R14B02","description":"Erlang
      R14B02"}],"appservers":[],"detection":[{"releases/*/*.rel":"."}]},"sinatra":{"name":"sinatra","runtimes":[{"name":"ruby18","version":"1.8.7","description":"Ruby
      1.8.7"},{"name":"ruby19","version":"1.9.2p180","description":"Ruby 1.9.2"}],"appservers":[{"name":"thin","description":"Thin"}],"detection":[{"*.rb":"require
      ''sinatra''|require \"sinatra\""},{"config/environment.rb":false}]},"wsgi":{"name":"wsgi","runtimes":[{"name":"python26","version":"2.6.5","description":"Python
      2.6.5"}],"appservers":[],"detection":[{"*.py":"."}]}}}'
  recorded_at: Wed, 07 Dec 2011 22:39:37 GMT
[...]
- request:
    method: get
    uri: http://api.vcap.me:80/users
    body: ''
    headers:
      Authorization:
      - 04085b0849221261646d696e40766361702e6d65063a0645546c2b07b108e54e221912a91b37781faa5c88a9ffea3b0b6abd0c28983b
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"83aaba0ee95e8379c17e88d2287f4f08"'
    body: ! '[{"email":"admin@vcap.me","admin":true,"apps":[]},{"email":"user@vcap.me","admin":false,"apps":[]}]'
  recorded_at: Wed, 07 Dec 2011 22:39:37 GMT
[...]
- request:
    method: delete
    uri: http://api.vcap.me:80/users/fakeuser@vcap.me
    body: ''
    headers:
      Authorization:
      - 04085b0849221261646d696e40766361702e6d65063a0645546c2b07b108e54e221912a91b37781faa5c88a9ffea3b0b6abd0c28983b
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"code":201,"description":"User not found"}'
  recorded_at: Wed, 07 Dec 2011 22:39:39 GMT
recorded_with: VCR 2.0.0.beta2
