---
http_interactions:
- request:
    method: get
    uri: http://api.vcap.me:80/info
    body: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"cbc07ff8530919ca664fcfc8b21a398b"'
    body: ! '{"name":"vcap","build":2222,"support":"http://support.cloudfoundry.com","version":"0.999","description":"VMware''s
      Cloud Application Platform","allow_debug":true}'
  recorded_at: Wed, 07 Dec 2011 22:39:55 GMT
- request:
    method: post
    uri: http://api.vcap.me:80/users/admin@vcap.me/tokens
    body: ! '{"password":"foobar"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c0c25d698167fabc7919dbd0f8e26f7c"'
    body: ! '{"token":"04085b0849221261646d696e40766361702e6d65063a0645546c2b07b925e94e22197116564796f202d7c9ece57dc7d86c5db0e68ad6"}'
  recorded_at: Wed, 07 Dec 2011 22:39:55 GMT
recorded_with: VCR 2.0.0.beta2
