--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.vcap.me/info
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"cbc07ff8530919ca664fcfc8b21a398b\""
    body: 
      encoding: US-ASCII
      string: "{\"name\":\"vcap\",\"build\":2222,\"support\":\"http://support.cloudfoundry.com\",\"version\":\"0.999\",\"description\":\"VMware's Cloud Application Platform\",\"allow_debug\":true}"
  recorded_at: Mon, 27 Feb 2012 23:10:36 GMT
- request: 
    method: post
    uri: http://api.vcap.me/users/admin@vcap.me/tokens
    body: 
      encoding: US-ASCII
      string: "{\"password\":\"foobar\"}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"302193d0e6e950c114edaf92bdecc779\""
    body: 
      encoding: US-ASCII
      string: "{\"token\":\"04085b0849221261646d696e40766361702e6d65063a0645546c2b07ee47554f2219fe7c02dab5d0d934b5aeec68b8f28a8f8dccff4d\"}"
  recorded_at: Mon, 27 Feb 2012 23:10:37 GMT
recorded_with: VCR 2.0.0.rc2
