<%# encoding: utf-8%>
$(function() {
  if ($('body').hasClass('services')) {
    $('#services-menu-link').addClass('menu-current');
    servicesTable_Settings = {
      'bAutoWidth':      false,
      'bLengthChange':   false,
      'bStateSave':      true,
      'oLanguage':       dataTables_lang,
      'sPaginationType': 'full_numbers',
      'aoColumnDefs':    [{'bSearchable': false, 'aTargets': [6]},
                          {'bSortable': false, 'aTargets': [6]},
                          {'sType': 'string', 'aTargets': [1]}
                         ]
    };
    servicesTable = $('#services-table').dataTable(servicesTable_Settings);
    var ultabs = $('ul.tabs');
    ultabs.tabs('div.panels > div.panel', {effect: 'slide', tabs: 'li'});
    $(document)
      .on('onClick', ultabs, function(event, tabIndex) {
        var tab = $(this).find('li.current > a').attr('href');
        if (tab == '#services') {
          $('.invoke-modalBox').html('<button class="addService" rel="#add_service_modalBox">' + I18n.t('services.js.add_service') + '</button>').toggle();
          addService_trigger = $('.addService').overlay({
            'closeOnClick': false,
            'mask': {color: '#404040', loadSpeed: 'normal', opacity: 0.7},
            'top': '25%',
            'onBeforeLoad': function(event) {
              $('.modalBox-flash').empty();
            }
          });
          if (typeof service_chosen == 'undefined') {
            service_chosen = $('.service-chosen').chosen({'no_results_text': I18n.t('assets.js.no_results')});
          }
          $('#services-table .icon-tip').tooltip({'effect': 'fade', 'tipClass': 'help-tip'});
        }
      });
    $('#new-service-form .help').tooltip({'effect': 'fade', 'tipClass': 'help-tip'});
    $('#new-service-form').validator({'effect': 'below_field_error', 'inputEvent': 'blur', 'lang': validatorTools_lang});
    $(document)
      .on('change', '#new-service-form select#ss', function() {
        var app_name = $('#new-service-form input#name');
        var ss_name = $(this).val()
        if (ss_name != '') {
          app_name.val($(this).val() + '-' + Math.round(Math.random() * 0x0100000 ).toString(16));
        }
      });
    $(document)
      .on('ajax:beforeSend', '#new-service-form', function(evt, xhr, settings) {
        var validator = $('#new-service-form').data('validator');
        if (!validator.checkValidity()) return false;
        request_processed = false;
        $(this).find('.modalBox-submit input[type="submit"]').attr({value: I18n.t('assets.js.ajax_processing')});
      })
      .on('ajax:success', '#new-service-form', function(evt, data, status, xhr) {
        if (request_processed == true) {
          $(this).find('input[type="text"]').val('');
        }
      })
      .on('ajax:error', '#new-service-form', function(evt, xhr, status, error) {
        request_processed = true;
        $('#flash-content').empty();
        $('#flash-content').append('<div class="alert">' + I18n.t('assets.js.ajax_error') + '</div>');
        $('#flash').fadeIn('slow');
      })
      .on('ajax:complete', '#new-service-form', function(evt, xhr, status) {
        if (request_processed == true) {
          addService_trigger.eq(0).overlay().close();
        }
        $(this).find('.modalBox-submit input[type="submit"]').attr({value: I18n.t('services.js.add_service')});
      });
    $(document)
      .on('ajax:beforeSend', '#delete-service-link', function(evt, xhr, settings) {
        $(this).find('img').attr({ src : '<%= asset_path('wait.gif') %>'}).removeClass('delete');
      })
      .on('ajax:error', '#delete-service-link', function(evt, xhr, status, error) {
        $('#flash-content').empty();
        $('#flash-content').append('<div class="alert">' + I18n.t('assets.js.ajax_error') + '</div>');
        $('#flash').fadeIn('slow');
      })
      .on('ajax:complete', '#delete-service-link', function(evt, xhr, status) {
        $(this).find('img').attr({ src : '<%= asset_path('s.gif') %>'}).addClass('delete');
      });
  }
});