$(function() {
  if ($('body').hasClass('services')) {
    $('#services-menu-link').addClass('menu-current');
    servicesTable_Settings = {
      'bAutoWidth':      false,
      'bLengthChange':   false,
      'bStateSave':      true,
      'sPaginationType': 'full_numbers',
      'aoColumnDefs':    [{'bSearchable': false, 'aTargets': [6]},
                          {'bSortable': false, 'aTargets': [6]},
                          {'sType': 'string', 'aTargets': [1]}
                         ]
    };
    servicesTable = $('#services-table').dataTable(servicesTable_Settings);
    var ultabs = $('ul.tabs');
    ultabs.tabs('div.panels > div.panel', {effect: 'slide', tabs: 'li'});
    ultabs
      .on('onClick', function(event, tabIndex) {
        var tab = $(this).find('li.current > a').attr('href');
        if (tab == '#services') {
          $('.invoke-modalBox').html('<button class="addService" rel="#add_service_modalBox">Add Service</button>').toggle();
          addService_trigger = $('.addService').overlay({
            'closeOnClick': false,
            'mask': {color: '#404040', loadSpeed: 'normal', opacity: 0.7},
            'top': '25%',
            'onBeforeLoad': function(event) {
              $('.modalBox-flash').empty();
            }
          });
          if (typeof service_uniform == 'undefined') {
            service_uniform = $('.service-uniform').uniform();
          }
          $('#services-table .icon-tip').tooltip({'effect': 'fade', 'tipClass': 'help-tip'});
        }
      });
    $('#new-service-form .help').tooltip({'effect': 'fade', 'tipClass': 'help-tip'});
    $('#new-service-form').validator({'effect': 'below_field_error', 'inputEvent': 'keyup'});
    $('#new-service-form select#ss')
      .on('change', function() {
        var app_name = $('#new-service-form input#name');
        var ss_name = $(this).val()
        if (ss_name != '') {
          app_name.val($(this).val() + '-' + Math.round(Math.random() * 0x0100000 ).toString(16));
        }
      });
    $('#new-service-form')
      .on('ajax:beforeSend', function(evt, xhr, settings) {
        var validator = $('#new-service-form').data('validator');
        if (!validator.checkValidity()) return false;
        request_processed = false;
        $(this).find('.modalBox-submit input[type="submit"]').attr({value: 'Processing ...'});
      })
      .on('ajax:success', function(evt, data, status, xhr) {
        if (request_processed == true) {
          $(this).find('input[type="text"]').val('');
        }
      })
      .on('ajax:error', function(evt, xhr, status, error) {
        request_processed = true;
        $('#flash-content').empty();
        $('#flash-content').append('<div class="alert">An error occurred processing your request, please reload the page and try again.</div>');
        $('#flash').fadeIn('slow');
      })
      .on('ajax:complete', function(evt, xhr, status) {
        if (request_processed == true) {
          addService_trigger.eq(0).overlay().close();
        }
        $(this).find('.modalBox-submit input[type="submit"]').attr({value: 'Add Service'});
      });
    $('#delete-service-link')
      .on('ajax:beforeSend', function(evt, xhr, settings) {
        $(this).find('img').attr({ src : '<%= asset_path('wait.gif') %>'}).removeClass('delete');
      })
      .on('ajax:error', function(evt, xhr, status, error) {
        $('#flash-content').empty();
        $('#flash-content').append('<div class="alert">An error occurred processing your request, please reload the page and try again.</div>');
        $('#flash').fadeIn('slow');
      })
      .on('ajax:complete', function(evt, xhr, status) {
        $(this).find('img').attr({ src : '<%= asset_path('s.gif') %>'}).addClass('delete');
      });
  }
});