$(function() {
  if ($('body').hasClass('users')) {
    $('#users-menu-link').addClass('menu-current');
    usersTable_Settings = {
      'bAutoWidth':      false,
      'bLengthChange':   false,
      'bStateSave':      true,
      'sPaginationType': 'full_numbers',
      'aoColumnDefs':    [{'bSearchable': false, 'aTargets': [2, 3]},
                          {'bSortable': false, 'aTargets': [3]},
                          {'sType': 'string', 'aTargets': [2]}
                         ]
    };
    usersTable = $('#users-table').dataTable(usersTable_Settings);
    var ultabs = $('ul.tabs');
    ultabs.tabs('div.panels > div.panel', {effect: 'slide', tabs: 'li'});
    ultabs
      .on('onClick', function(event, tabIndex) {
        var tab = $(this).find('li.current > a').attr('href');
        if (tab == '#users') {
          $('.invoke-modalBox').html('<button class="addUser" rel="#add_user_modalBox">Add User</button>').toggle();
          addUser_trigger = $('.addUser').overlay({
            'closeOnClick': false,
            'mask': {color: '#404040', loadSpeed: 'normal', opacity: 0.7},
            'top': '25%',
            'onBeforeLoad': function(event) {
              $('.modalBox-flash').empty();
            }
          });
          $('#users-table .icon-tip').tooltip({'effect': 'fade', 'tipClass': 'help-tip'});
        }
      });
    $('#new-user-form .help').tooltip({'effect': 'fade', 'tipClass': 'help-tip'});
    $('#new-user-form').validator({'effect': 'below_field_error', 'inputEvent': 'keyup'});
    $('#new-user-form')
      .on('ajax:beforeSend', function(evt, xhr, settings) {
        var validator = $('#new-user-form').data('validator');
        if (!validator.checkValidity()) return false;
        request_processed = false;
        $(this).find('.modalBox-submit input[type="submit"]').attr({value: 'Processing ...'});
      })
      .on('ajax:success', function(evt, data, status, xhr) {
        if (request_processed == true) {
          $(this).find('input[type="email"],input[type="password"]').val('');
        }
      })
      .on('ajax:error', function(evt, xhr, status, error) {
        request_processed = true;
        $('#flash-content').empty();
        $('#flash-content').append('<div class="alert">An error occurred processing your request, please reload the page and try again.</div>');
        $('#flash').fadeIn('slow');
      })
      .on('ajax:complete', function(evt, xhr, status) {
        if (request_processed == true) {
          addUser_trigger.eq(0).overlay().close();
        }
        $(this).find('.modalBox-submit input[type="submit"]').attr({value: 'Add User'});
      });
    $('#delete-user-link')
      .on('ajax:beforeSend', function(evt, xhr, settings) {
        $(this).find('img').attr({ src : '<%= asset_path('wait.gif') %>'}).removeClass('delete');
      })
      .on('ajax:error', function(evt, xhr, status, error) {
        $('#flash-content').empty();
        $('#flash-content').append('<div class="alert">An error occurred processing your request, please reload the page and try again.</div>');
        $('#flash').fadeIn('slow');
      })
      .on('ajax:complete', function(evt, xhr, status) {
        $(this).find('img').attr({ src : '<%= asset_path('s.gif') %>'}).addClass('delete');
      });
  }
});