%table#apps-table
  %thead
    %tr
      %th.thsort{:scope => "col", :rowspan => 2}=t('apps.application_head')
      %th.thsort{:scope => "col", :rowspan => 2}=t('apps.health_head')
      %th.thcenter{:scope => "col", :colspan => 6}=t('apps.resources_head')
      %th.thcenter{:scope => "col", :rowspan => 2, :width => "12%"}=t('apps.actions_head')
    %tr
      %th.thsort{:scope => "col"}=t('apps.instances_head')
      %th.thsort{:scope => "col"}=t('apps.memory_head')
      %th.thsort{:scope => "col"}=t('apps.disk_head')
      %th.thsort{:scope => "col"}=t('apps.framework_head')
      %th.thsort{:scope => "col"}=t('apps.runtime_head')
      %th.thsort{:scope => "col"}=t('apps.services_head')
  %tbody
    = render :partial => "app_item", :collection => @apps

= render "app_new"
= render "app_upload_bits"