%table
  %tbody
    %tr
      %td
        = t('system.target.target') + " " + @cf_target_url + " v" + @info[:version]
        %br
        = @info[:description]
        %br
        = t('system.target.support') + " "
        %a{:href => @info[:support]} #{@info[:support]}