--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.vcap.me/info
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"cbc07ff8530919ca664fcfc8b21a398b\""
    body: 
      encoding: US-ASCII
      string: "{\"name\":\"vcap\",\"build\":2222,\"support\":\"http://support.cloudfoundry.com\",\"version\":\"0.999\",\"description\":\"VMware's Cloud Application Platform\",\"allow_debug\":true}"
  recorded_at: Mon, 27 Feb 2012 23:56:43 GMT
- request: 
    method: post
    uri: http://api.vcap.me/users/user@vcap.me/tokens
    body: 
      encoding: US-ASCII
      string: "{\"password\":\"foobar\"}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"af35d09de3c2242942f7374755d8affb\""
    body: 
      encoding: US-ASCII
      string: "{\"token\":\"04085b084922117573657240766361702e6d65063a0645546c2b07bd52554f2219e3f193e05498fdafb30d0bc0e2d212341f5deb5d\"}"
  recorded_at: Mon, 27 Feb 2012 23:56:44 GMT
recorded_with: VCR 2.0.0.rc2
