---
http_interactions:
- request:
    method: get
    uri: http://api.vcap.me:80/info
    body: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"cbc07ff8530919ca664fcfc8b21a398b"'
    body: ! '{"name":"vcap","build":2222,"support":"http://support.cloudfoundry.com","version":"0.999","description":"VMware''s
      Cloud Application Platform","allow_debug":true}'
  recorded_at: Wed, 07 Dec 2011 22:39:34 GMT
- request:
    method: post
    uri: http://api.vcap.me:80/users/user@vcap.me/tokens
    body: ! '{"password":"foobar"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"8ea3ecd248344a5f921d841a1736eabf"'
    body: ! '{"token":"04085b084922117573657240766361702e6d65063a0645546c2b07a425e94e22198e17a751fda8ef6bcd2cf5c6675d92f45694b012"}'
  recorded_at: Wed, 07 Dec 2011 22:39:34 GMT
recorded_with: VCR 2.0.0.beta2
