--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.vcap.me/info
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b0737b7515122192499baac9eea404b14ce8d0589588c3b5efef4b3
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"c22ea1d490f0165832f70a847ecb3970\""
    body: 
      encoding: US-ASCII
      string: "{\"name\":\"vcap\",\"build\":2222,\"support\":\"http://www.sky.com\",\"version\":\"0.999\",\"description\":\"Nimbus Cloud Application Platform\",\"allow_debug\":true,\"user\":\"user@vcap.me\",\"limits\":{\"memory\":4096,\"app_uris\":6,\"services\":16,\"apps\":30},\"usage\":{\"memory\":0,\"apps\":0,\"services\":0},\"frameworks\":{\"java_web\":{\"name\":\"java_web\",\"runtimes\":[{\"name\":\"java\",\"version\":\"1.6\",\"description\":\"Java 6\"}],\"appservers\":[{\"name\":\"tomcat\",\"description\":\"Tomcat\"}],\"detection\":[{\"*.war\":true}]},\"grails\":{\"name\":\"grails\",\"runtimes\":[{\"name\":\"java\",\"version\":\"1.6\",\"description\":\"Java 6\"}],\"appservers\":[{\"name\":\"tomcat\",\"description\":\"Tomcat\"}],\"detection\":[{\"*.war\":true}]},\"sinatra\":{\"name\":\"sinatra\",\"runtimes\":[{\"name\":\"ruby18\",\"version\":\"1.8.7\",\"description\":\"Ruby 1.8.7\"},{\"name\":\"ruby19\",\"version\":\"1.9.3p194\",\"description\":\"Ruby 1.9.3\"}],\"appservers\":[{\"name\":\"thin\",\"description\":\"Thin\"}],\"detection\":[{\"*.rb\":\"require 'sinatra'|require \\\"sinatra\\\"\"},{\"config/environment.rb\":false}]},\"lift\":{\"name\":\"lift\",\"runtimes\":[{\"name\":\"java\",\"version\":\"1.6\",\"description\":\"Java 6\"}],\"appservers\":[{\"name\":\"tomcat\",\"description\":\"Tomcat\"}],\"detection\":[{\"*.war\":true}]},\"otp_rebar\":{\"name\":\"otp_rebar\",\"runtimes\":[{\"name\":\"erlangR14B02\",\"version\":\"R14B02\",\"description\":\"Erlang R14B02\"}],\"appservers\":[],\"detection\":[{\"releases/*/*.rel\":\".\"}]},\"node\":{\"name\":\"node\",\"runtimes\":[{\"name\":\"node06\",\"version\":\"0.6.21\",\"description\":\"Node.js\"},{\"name\":\"node08\",\"version\":\"0.8.6\",\"description\":\"Node.js\"}],\"appservers\":[],\"detection\":[{\"*.js\":\".\"}]},\"django\":{\"name\":\"django\",\"runtimes\":[{\"name\":\"python26\",\"version\":\"2.7.2\",\"description\":\"Python 2.7.2\"}],\"appservers\":[],\"detection\":[{\"*.py\":\".\"}]},\"rails3\":{\"name\":\"rails3\",\"runtimes\":[{\"name\":\"ruby18\",\"version\":\"1.8.7\",\"description\":\"Ruby 1.8.7\"},{\"name\":\"ruby19\",\"version\":\"1.9.2p180\",\"description\":\"Ruby 1.9.2\"}],\"appservers\":[{\"name\":\"thin\",\"description\":\"Thin\"}],\"detection\":[{\"config/application.rb\":true},{\"config/environment.rb\":true}]},\"spring\":{\"name\":\"spring\",\"runtimes\":[{\"name\":\"java\",\"version\":\"1.6\",\"description\":\"Java 6\"}],\"appservers\":[{\"name\":\"tomcat\",\"description\":\"Tomcat\"}],\"detection\":[{\"*.war\":true}]},\"wsgi\":{\"name\":\"wsgi\",\"runtimes\":[{\"name\":\"python26\",\"version\":\"2.7.2\",\"description\":\"Python 2.7.2\"}],\"appservers\":[],\"detection\":[{\"*.py\":\".\"}]},\"php\":{\"name\":\"php\",\"runtimes\":[{\"name\":\"php\",\"version\":\"5.3\",\"description\":\"PHP 5\"}],\"appservers\":[{\"name\":\"apache\",\"description\":\"Apache\"}],\"detection\":[{\"*.php\":true}]},\"python_paver\":{\"name\":\"python_paver\",\"runtimes\":[{\"name\":\"python27\",\"version\":\"2.7.2\",\"description\":\"Python 2.7.2\"}],\"appservers\":[],\"detection\":[{\"paver_utils.py\":true},{\"platform.py\":true}]}}}"
  recorded_at: Tue, 19 Mar 2013 15:00:21 GMT
[...]
- request: 
    method: get
    uri: http://api.vcap.me/users/user@vcap.me
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b0737b7515122192499baac9eea404b14ce8d0589588c3b5efef4b3
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"32e7d6b67acc62864f2380519fa0e468\""
    body: 
      encoding: US-ASCII
      string: "{\"email\":\"user@vcap.me\",\"admin\":false}"
  recorded_at: Tue, 19 Mar 2013 15:00:22 GMT
recorded_with: VCR 2.0.1
