%table#app-instances-table
  %thead
    %tr
      %th.thsort{:scope => "col"}=t('apps.instances.id_head')
      %th.thsort{:scope => "col"}=t('apps.instances.state_head')
      %th.thsort{:scope => "col"}=t('apps.instances.port_head')
      %th.thsort{:scope => "col"}=t('apps.instances.cpu_head')
      %th.thsort{:scope => "col"}=t('apps.instances.memory_head')
      %th.thsort{:scope => "col"}=t('apps.instances.disk_head')
      %th.thsort{:scope => "col"}=t('apps.instances.uptime_head')
      %th.thcenter{:scope => "col"}=t('apps.instances.logs_head')
  %tbody
    = render :partial => "apps/instances/app_instance_item", :collection => @app[:instances_info]

#overlayLog
  .modalLog