#flash
  - flash.each do |key, value|
    .message{:class => key}
      %p= value

- if !flash.empty?
  - content_for :javascripts do
    :javascript
      $(function() {
        $('#flash').fadeIn('slow');
      });