%section#copyright
  %p Copyright &copy; #{Date.today.year} Ferran Rodenas. All rights reserved.
  %p
    The source code of this application is available on
    %a{:href => "https://github.com/frodenas/cf-console"}github