%meta{:charset => "utf-8"}/
%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}

%title CF Console - #{ yield(:title) }
%meta{:name => "description", :content => "Cloud Foundry Console"}
%meta{:name => "author", :content => "Ferran Rodenas"}

%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
= stylesheet_link_tag "application"

= javascript_include_tag "modernizr"

= csrf_meta_tag